@model sampleMvc1.Models.LoginViewModel

<h1>Login</h1>

<form asp-action="Login" method="post">
    <div class="form-group">
        <label asp-for="EmailOrMobile"></label>
        <input asp-for="EmailOrMobile" class="form-control" />
        <span asp-validation-for="EmailOrMobile" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control" type="password" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
</form>
<div>
    <a asp-action="Register">Don't have an account? Register here.</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}