.card {
    transition: transform 0.2s, box-shadow 0.2s;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); 
}

.heart {
    --c: red;
    width: 200px;
    aspect-ratio: 1;
    background:
     radial-gradient(circle at 60% 65%,var(--c) 64%,#0000 65%) top left/50% 50%,
     radial-gradient(circle at 40% 65%,var(--c) 64%,#0000 65%) top right/50% 50%,
     conic-gradient(from -45deg at 50% 85.5%,var(--c) 90deg,#0000 0) bottom/100% 50%;
     background-repeat: no-repeat;

}
