body{
    background-color: white;
}

/* .img-fluid {
    transition: transform 0.2s, box-shadow 0.2s;
}

.img-fluid:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); 
} */

.img-fluid {
    cursor: zoom-in; 
    transition: transform 0.2s; 
}

.img-fluid:hover {
    transform: scale(1.1); 
}
